.DS_Store
.thumbs.db
node_modules

.quasar
/dist
/quasar.config.*.temporary.compiled*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.idea
*.suo
*.ntvs*
*.njsproj
*.sln

.env.local*
